.container {
  width: 400px;
}
.screen {
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  background: #3c0753;
  color: white;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
}
button {
  width: 100px;
  height: 80px;
  border: 0;
  outline: 0;
  color: white;
  background: #3c0753;
  cursor: pointer;
  font-size: 25px;
  border: 1px solid #2f0542;
  transition: all 0.3s;
}
button:hover {
  background: radial-gradient(#910a67, #720455);
}
.color {
  background: #910a67;
  color: #ffffff;
  font-weight: bold;
}
.twoCol {
  width: 200px;
}
