* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#030637, #4c0238);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
